*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    box-sizing: border-box;   
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color:#847e7e;
  
}
#cont-calulator{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   flex-direction: column;
   border: none;
   box-shadow: 10px 10px 40px rgb(107, 165, 222);
   background-color: rgb(144, 131, 163);
   border-radius: 20px;
   height: 520px;

}


#cal-method {
    height: 74px;
    text-align: end;
    box-shadow: dimgray 10px 10px 10px;
    border-radius: 32px;
    border: none;
    font-size: 25px;
    padding: 6px;
    width: 100%;
}

button {
    width: 80px;
    padding: 20px;
    margin-top: 21px;
    border-radius: 90%;
    border: none;
    color: rgb(246, 243, 243);
    background-color: rgb(126, 131, 131);
    font-size: 18px;
   
}

.cal-equal {
    width:240px;
    border: none;
    border-radius: 50px;
    background-color: rgb(127, 161, 127);
}
    
/* #del{
    background-color: red;
} */
